<div class="modal-header">
    <h3 class="modal-title">
        <div class="row">
            <div class="col-xs-11">
                <a ng-show="modalData.website" ng-href="{{modalData.website}}" target="_blank" title="Resort Website">{{modalData.resortName}}, {{modalData.state || modalData.country}}</a>
                <span ng-show="!modalData.website">{{modalData.resortName}}, {{modalData.state || modalData.country}}</span>
            </div>
            <div class="col-xs-1">
                <button class="btn btn-sm" style="float:right; clear:all;" ng-click="ok()">X</button>
            </div>
        </div>
    </h3>
</div>
<div class="modal-body">

    <uib-tabset active="active">
        <uib-tab index="0" heading="Videos">
            
            <h4>Johnathan's Videos</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" ng-src="{{'https://www.youtube.com/watch?v=' + modalData.videos[currentPage-1] | trusted}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <div class="text-center" ng-show="modalData.videos.length > 1">
                <ul uib-pagination total-items="totalItems" max-size="7" ng-model="currentPage" class="pagination-sm" items-per-page="1" boundary-link-numbers="true" rotate="false"></ul>
            </div>
            <p ng-show="modalData.videos.length === 0">Johnathan has not traveled to this ski resort yet. Check back soon!</p>
            <p ng-show="modalData.videos.length === 1">Johnathan has one video at this location!</p>

        </uib-tab>
        <uib-tab index="1" heading="Resort Review">
            <div ng-show="!!modalData.resortReview.link">
                <h4>Johnathan's Resort Review</h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{'https://www.youtube.com/watch?v=' + modalData.resortReview.link | trusted}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br>
                <h4>Johnathan's Score</h4>
                <dl class="dl-horizontal">
                    <dt>Overall Score:</dt>
                    <dd>{{modalData.resortReview.score}}/100</dd>
                    <dt ng-show="!!modalData.resortReview.note">Note:</dt>
                    <dd ng-show="!!modalData.resortReview.note">{{modalData.resortReview.note}}</dd>
                    <dt ng-show="!!modalData.resortReview.price">Price:</dt>
                    <dd ng-show="!!modalData.resortReview.price"><uib-rating ng-model="price" max="5"></uib-rating> ({{modalData.resortReview.price}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.easeOfAccess">Ease Of Access:</dt>
                    <dd ng-show="!!modalData.resortReview.easeOfAccess"><uib-rating ng-model="easeOfAccess" max="5"></uib-rating> ({{modalData.resortReview.easeOfAccess}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.lodging">Lodging:</dt>
                    <dd ng-show="!!modalData.resortReview.lodging"><uib-rating ng-model="lodging" max="5"></uib-rating> ({{modalData.resortReview.lodging}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.chairLifts">Chair Lifts:</dt>
                    <dd ng-show="!!modalData.resortReview.chairLifts"><uib-rating ng-model="chairLifts" max="5"></uib-rating> ({{modalData.resortReview.chairLifts}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.runs">Runs:</dt>
                    <dd ng-show="!!modalData.resortReview.runs"><uib-rating ng-model="runs" max="5"></uib-rating> ({{modalData.resortReview.runs}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.terrainPark">Terrain Park:</dt>
                    <dd ng-show="!!modalData.resortReview.terrainPark"><uib-rating ng-model="terrainPark" max="5"></uib-rating> ({{modalData.resortReview.terrainPark}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.food">Food:</dt>
                    <dd ng-show="!!modalData.resortReview.food"><uib-rating ng-model="food" max="5"></uib-rating> ({{modalData.resortReview.food}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.employees">Employees:</dt>
                    <dd ng-show="!!modalData.resortReview.employees"><uib-rating ng-model="employees" max="5"></uib-rating> ({{modalData.resortReview.employees}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.views">Views:</dt>
                    <dd ng-show="!!modalData.resortReview.views"><uib-rating ng-model="views" max="5"></uib-rating> ({{modalData.resortReview.views}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.fun">Fun:</dt>
                    <dd ng-show="!!modalData.resortReview.fun"><uib-rating ng-model="fun" max="5"></uib-rating> ({{modalData.resortReview.fun}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.parking">Parking:</dt>
                    <dd ng-show="!!modalData.resortReview.parking"><uib-rating ng-model="parking" max="5"></uib-rating> ({{modalData.resortReview.parking}}/10)</dd>
                    
                    <dt ng-show="!!modalData.resortReview.wouldIGoBack">Would I Go Back:</dt>
                    <dd ng-show="!!modalData.resortReview.wouldIGoBack"><uib-rating ng-model="wouldIGoBack" max="5"></uib-rating> ({{modalData.resortReview.wouldIGoBack}}/10)</dd>
                </dl>
            </div>
            <div ng-show="!modalData.resortReview.link">
                <h4>Johnathan's Resort Review</h4>
                <p>Johnathan has not reviewed this ski resort yet. Check back soon!</p>
            </div>
        </uib-tab>
        <uib-tab index="2" heading="Map">
            
            <h4>Ski Resort Map</h4>

            <p ng-show="!modalData.mapLink">No map of this location found. Check back soon!</p>

            <div ng-show="modalData.mapLink" style="position: relative; display: inline-block;">
     
                <img ng-src="{{modalData.mapLink}}" width="100%">
            
                <!-- Dynamic Pins -->
                <a ng-repeat="pin in modalData.runs" 
                   ng-href="{{'https://www.youtube.com/watch?v=' + pin.link | trusted}}"
                   target="_blank" 
                   class="overlay-pin" 
                   ng-style="{'top': pin.y + '%', 'left': pin.x + '%'}"
                   title="{{pin.name}}">
                </a>
            
                <hr>
                <a ng-href="{{modalData.mapLink}}" target="_blank">
                    <p>Open map in new tab</p>
                </a>
                <p><i>Map credit goes to skimap.org</i></p>
            </div>

        </uib-tab>
        <uib-tab index="3" heading="Webcam" ng-show="modalData.webcam.length>0">
            
            <h4>Webcam</h4>

            <div ng-repeat="web in modalData.webcam">
                <h5>{{web.title}}</h5>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item"  ng-src="{{'https://www.youtube.com/watch?v=' + web.link | trusted}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </uib-tab>
    </uib-tabset>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Close</button>
</div>
